<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="include/service/head :: headFull(title='Index')">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/theme/css/bootstrap.css"><!--debug-->
    <link rel="stylesheet" href="../../static/theme/font/fontawesome/css/all.css"><!--debug-->
</head>
<body>
<header th:replace="include/component/header :: header"></header>
<div>

</div>
<footer></footer>
</body>
</html>