<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/theme/css/bootstrap.css"><!--debug-->
    <link rel="stylesheet" href="../../../static/theme/fonts/font-awesome/css/fontawesome-all.css"><!--debug-->
</head>

<body>

<!--profile menu-->
<th:block th:fragment="profileUl">
    <ul class="navbar-nav bg-dark">
        <th:block sec:authorize="!isAuthenticated()">
            <li class="nav-item">
                <a href="/login" class="bg-dark nav-link"><i class="fas fa-sign-in-alt"></i> <b>Войти</b></a>
            </li>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a href="/logout" class="bg-dark nav-link"><i class="fas fa-sign-out-alt"></i> <b>Выйти</b></a>
            </li>
        </th:block>
    </ul>
</th:block>

<!--navigation bar with icon, navigation menu, search and profile-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<th:block th:replace="includes/components/icon :: iconSmall('/c/main','/theme/img/logo.png')"/>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="navbar-toggler-icon"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <th:block th:include="include/component/navbar :: navUl"/>
        <!--search-->
        <th:block th:include="include/component/navbar :: profileUl"/>
    </div>
</nav>

<!--navigation menu-->
<th:block th:fragment="navUl">
    <ul class="navbar-nav mr-auto col-10">
        <li class="nav-item">
            <a href="/student" class="bg-dark nav-link"><i class="fas fa-user-graduate"></i> <b>Студенты</b></a>
        </li>
        <li class="nav-item">
            <a href="/parse/upload" class="bg-dark nav-link"><i class="fas fa-upload"></i> <b>Загрузить</b></a>
        </li>
    </ul>
</th:block>

<!--nav li with address checking-->
<th:block th:fragment="navLi(address,text,iconName)">
    <li class="nav-item">
        <!--todo not work properly - not change lint to span if on page-->
        <span th:if="${#strings.startsWith('__${#httpServletRequest.requestURI}__','__${liAddr}__')}"
              th:text="' '+${text}" th:class="'bg-dark active nav-link '+${iconName}">s</span>

        <a th:unless="${#strings.startsWith('__${#httpServletRequest.requestURI}__','__${liAddr}__')}"
           th:href="@{${address}}" th:text="' '+${text}"
           th:class="'bg-dark nav-link '+${iconName}">a</a>
    </li>
</th:block>

</body>
</html>

