<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/theme/css/bootstrap.css"><!--debug-->
    <link rel="stylesheet" href="../../../static/theme/font/fontawesome/css/all.css"><!--debug-->
</head>

<!--meta utf-8-->
<meta th:fragment="meta" charset="UTF-8">

<!--min header, without any css-->
<head th:fragment="headMin(title)">
    <meta th:include="include/service/head :: meta">
    <title th:text="${title} ?: ''">Template Layout Title</title>
</head>

<!--full head with all css-->
<head th:fragment="headFull(title)">
    <th:block th:include="include/service/head :: headMin(${title})"/>
    <th:block th:include="include/service/css :: cssFull"/>
    <th:block th:include="include/service/js :: jsFull"/>
</head>

</html>
