<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/service/head :: headFull(title='Student')">
    <meta charset="UTF-8">
</head>
<body>
<script>
    $.ajax({
        url: '/parse/parse/error',
        type: 'get',
        data: {},
        contentType: 'application/json',
        dataType: 'json',
        success: (data) => {
            $('.text-plain').html(JSON.parse(data));
        }
    });
</script>
<header th:replace="include/component/header :: header"></header>
<div class="text-plain"></div>
<footer></footer>
</body>
</html>