<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/service/head :: headFull(title='Student')">
    <meta charset="UTF-8">
</head>
<body>
<header th:replace="include/component/header :: header"></header>
<div class="page-wrapper">
    <div class="container col-md-4 border p-4 mt-4 mb-4">
        <div class="row text-center">
            <label class="col m-1 select-input" for="faculty"><b>Факультет</b></label>
            <label class="col m-1 select-input" for="group"><b>Группа</b></label>
            <label class="col m-1 select-input" for="year"><b>Год поступления</b></label>
        </div>
        <div class="row filters-selects"><!-- Will be filled by JS --></div>
        <div class="row msg-box-filters"></div>
        <div class="row">
            <button type="button" class="col m-1 filters-apply btn btn-primary"><b>Применить фильтры</b></button>
        </div>
    </div>
    <table class="table table-responsive-xs table-hover border">
        <thead class="bg-dark text-white">
        <tr class="text-center">
            <th scope="col">
                <span style="cursor: pointer;" data-field="selected" data-state="true" class="p-1 select-all"><b><i class="fas fa-check"></i></b></span>
            </th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Логин</th>
            <th scope="col">Группа</th>
            <th scope="col">Бюджет</th>
            <th scope="col">Imagine</th>
            <th scope="col">Office</th>
        </tr>
        </thead>
        <tbody class="students-table text-center"><!-- Will be filled by JS --></tbody>
    </table>

    <nav><ul class="pagination justify-content-center"></ul></nav>

    <div class="container">
        <div class="row">
            <button type="button" disabled="disabled" class="col m-1 btn btn-primary send-updated-data"><b>Отправить обновленные данные</b></button>
            <button type="button" disabled="disabled" class="col m-1 btn btn-danger send-make-archive"><b>Сформировать архив</b></button>
        </div>
        <div class="row">
            <button type="button" data-field="budget" class="set-btn col m-1 btn btn-success"><b>Установить Бюджет</b></button>
            <button type="button" data-field="imagine" class="set-btn col m-1 btn btn-success"><b>Установить Imagine</b></button>
            <button type="button" data-field="office" class="set-btn col m-1 btn btn-success"><b>Установить Office</b></button>
        </div>
        <div class="row">
            <button type="button" data-field="budget" class="unset-btn col m-1 btn btn-warning"><b>Снять Бюджет</b></button>
            <button type="button" data-field="imagine" class="unset-btn col m-1 btn btn-warning"><b>Снять Imagine</b></button>
            <button type="button" data-field="office" class="unset-btn col m-1 btn btn-warning"><b>Снять Office</b></button>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{~/js/pages/student.js}"></script>
</body>
</html>