<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="include/service/head :: headFull(title='Student')">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/theme/css/bootstrap.css"><!--debug-->
    <link rel="stylesheet" href="../../static/theme/font/fontawesome/css/all.css"><!--debug-->
</head>
<script type="text/javascript" th:src="@{~/js/studentAjax.js}"></script>
<body>
<header th:replace="include/component/header :: header"></header>
<div>

<button type="button" name="test-button" id="test-button">test</button>

    <form th:action="@{/person/student/json}" th:object="${studentPageModel}" id="student-page-form" method="post">
        <table id="person-table">
            <!--ajax filled-->
        </table>
        <input type="text" th:field="*{page}">
        <button type="submit">submit</button>
    </form>

</div>
<footer></footer>
</body>
</html>
